body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

select {
  margin: 1em;
  padding: 1em;
  background-color: #333;
  color: #fff;
  border-radius: 25px;
}

select:hover {
  background-color: #555;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
}

.weather-img {
  width: 50vw;
  max-width: 400px;
}
